parameters:
  level: 7
  paths:
    - src
  bootstrapFiles:
    - phpstan-bootstrap.php
  tmpDir: build/phpstan
  reportUnmatchedIgnoredErrors: false
  checkUninitializedProperties: false
  treatPhpDocTypesAsCertain: false
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    - '#Function (service|config|db_connect|helper|singular|plural|lang) not found#'
    - '#Constant (APPPATH|ENVIRONMENT) not found#'
    - '#Call to static method (cache|autoloader|locator) on an unknown class Config\\Services#'
    - '#Access to an undefined property Daycry\\S(?:chemas|chemas\\Structures)\\Structures#'
    - '#Access to an undefined property object::\$[a-zA-Z0-9_]+#'
    - '#Cannot access property \$[a-zA-Z0-9_]+ on mixed#'

  excludePaths:
    - tests

  tipsOfTheDay: false

includes:
  # Future: add a generated baseline here once zeroed

